#site_name
{
 z-index: 1;
 position: fixed;
 width: 99%;
 height: 60px;
 background-color: #56AAAE;
 margin:auto;
 text-align:center;
 border:2px solid black;
 border-radius:10px;
 font-family:  Copperplate Gothic Light ;
 color:#FFCC11;
 font-size: 50px;
 opacity:0.9;
}

a:hover
{color:white;
}

a
{color:black;
 text-decoration:none;
 } 
 
#navbar
{position: fixed;
 top:10px;
 left:50%;
 margin-left:-254px;
 }
 
 ul{
 list-style-type: none;
 position: fixed;
 margin-top:70px;
}

#women
{background-color: #585858;
 color:white;
}

li{
 display: inline;
 border: 2px solid #000000;
 font-family:  Copperplate Gothic Light ;
 color: #FFFFFF;
 padding: 5px;
 border-radius: 10px;
 background-color:#D8D8D8;
 opacity:0.9;
}

li:hover
{background-color: #808080;
 color:white;
 }

 #items{
 position: absolute;
 margin-top:110px;
 background-color:#C8C8C8;
 height: 1200px;
 width:1200px;
 margin-left:60px;
 border-radius:10px;
 opacity:0.95;
}

.cells
{height:390px;
 width: 390px;
 margin:20px 20px 20px 20px;
 background-color:white;
 border-radius:10px;
 text-align:center;
 font-family:Copperplate Gothic Light;
 font-size:15px;
}

.cells:hover
{ 
 color:#7FFF00;
 border-collapse:seperate;
}

.image
{
 height:280px;
 width: 280px;
 margin:-10px 55px 0px 50px;
}

.image:hover
{width:75%;
 height:75%;
}

.button
{height:25px;
 width: 100px;
 background-color:#5F9F9F;
 border:1px solid #2F4F4F;
 border-radius: 10px;
 font-family: Copperplate Gothic Light;
 font-size: 13px;
 margin-left:-10px;
}

.button:hover
{background-color:#00868B;
 color: white;
}